
/* TABLETS MEDIAS */

@media screen and (max-width:1024px) and (min-width: 701px) {
    
    .title-logo-container {
        font-size: .5em;
        flex-direction: column;
    }


    .title-logo-container > img {
        width: 27px;
    }

    .nav-container > .categories-button {
        cursor: pointer;
        position: inherit;
    }

    .nav-container > .categories-button > .svg-icon-chevron,
    .menu-dropdawn-capsule svg.svg-icon-solid-triangle {
        display: none;
    }

    .nav-container > a {
        margin-left: 3em;
    }

    /* Evitar que os elemento dentro do botão seja clicavel e dispare eventos de click */
    .inner-text, .inner-text > svg, .menu-dropdawn-capsule {
        pointer-events: none;
    }

    .menu-dropdawn-capsule .category-list-container > li {
        pointer-events: all;
    }

    /* Icones do menu de navegação */
    .nav-container svg.nav-menu-icon {
        display: block;
        width: 35px;
        height: 35px;
        fill: var(--cor-cinza-alaranjado);
        background: var(--cor-roxo-02);
        box-shadow: 1px 1px 1px rgba(29, 2, 45, 0.533);
        border-radius: 8px;
        padding: 7px;
    }

    .nav-container span.inner-text {
        display: none;
    }

    .categories-button:hover svg.nav-menu-icon,
    .nav-container > a:hover > svg.nav-menu-icon {
        fill: var(--cor-laranjado);
        transition-duration: .3s;
        background: var(--cor-roxo-01);
    }

        .categories-button:active > .icon-container > svg.nav-menu-icon,
        .nav-container > a:active > svg.nav-menu-icon {
            transition-duration: .1s;
            background: var(--cor-roxo-02);
        }

    nav.nav-container > .categories-button-click > .menu-dropdawn-capsule {
        top: 3em;
        cursor: default;
        left: 50vw;
        transform: translateX(-50%);
    }

    nav.nav-container > .categories-button-click > .hide-menu-click-mode {
        display: none;
    }
     nav.nav-container > .categories-button-click > .show-menu-click-mode {
        display: block;
        animation: categories-menu-fade 1s;
    }


    .menu-dropdawn-capsule .category-list-container {
        padding-top: 3em;
        position: relative;
    }

    .menu-dropdawn-capsule .category-list-container::before {
        content: 'Categorias';
        color: var(--cor-laranjado);
        font-size: 1.1em;
        position: absolute;
        border-bottom: 1px solid rgba(243, 235, 242, 0.204);
        box-shadow: 0px 1px rgba(114, 114, 114, 0.351) ;
        width: 95%;
        letter-spacing: 2px;
        justify-self: center;
        text-align: start;
        text-indent: 1em;
        font-family: var(--font-navigation);
        font-weight: bolder;
        padding: .5em 0 5px 0;
    }

    .search-books-container {
        width: 27%;
    }

    
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* MOBILES MEDIAS */

@media  screen and (max-width: 700px) {

    header #header-elements-enveloper {
        position: relative;
        flex-direction: column;
        row-gap: .5em;
        
    }
   
    header .title-logo-container > .site-logo {
        width: 20px;
    }

    header .title-logo-container > .site-title {
        font-size: 1.1em;
    }

    header .nav-container {
        position: absolute;
        padding: 1em;
        padding-left: 4em;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: .5em;
        width: 350px;
        height: 100vh;
        top: 4.0em;
        /* left: -1em; */
        background: linear-gradient(to bottom, var(--cor-roxo-01), var(--cor-roxo-02));
        box-shadow: 3px 2px 3px  rgba(45, 4, 44, 0.29);
    }

    /* Animações de open e close da barra alteral de navegação controlado pelas class mobile-nav-opened e mobile-nav-closed*/

    header .mobile-nav-closed {
        transition-duration: 1s;
        left: -24em;
    }

    header .mobile-nav-opened {
        transition-duration: 1s;
        left: -3em;
    }

    /* Capsula de foto/login/registro do usuário na barra de navegação lateral */

    nav.nav-container .user-on {
        display: block;
    }

    nav.nav-container .user-off {
        display: block;
    }

    .user-on .login-register-buttons-container {
        display: none;
    }

    .user-off > .user-page-link,
    .user-off .profile-generic-settings > .navigation-itens,
    .user-off  .log-off-button{
        display: none; 
    }

    .user-off .login-register-buttons-container {
        display: block;
        margin-top: 2em;
        border: 1px solid gray;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        background: rgb(240, 233, 244);
        border-radius: 5px;
        box-shadow: 4px 4px 5px rgba(45, 4, 44, 0.216);
    }

    .user-off .login-register-buttons-container > button {
        color: var(--cor-cinza-alaranjado);
    }
    .user-off .login-register-buttons-container > button:hover {
        background: var(--cor-amarelo-alaranjado);
    }

    nav.nav-container > .user-infos-capsule {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        border-bottom: 1px solid rgba(170, 170, 169, 0.088);
        box-shadow: 0px 1px 1px rgba(6, 6, 6, 0.114);
        margin-bottom: .2em;
        padding-bottom: .7em;
        
    }
    .user-infos-capsule > a.user-page-link {
        margin: auto;
    }
    .user-infos-capsule > a.user-page-link > div > img {
        width: 45px;
        border-radius: 50%;
        border: 2px solid rgb(233, 233, 233);
    }

    .user-infos-capsule > a.user-page-link > div > .user-profile-name {
        display: none;
    }

    .user-infos-capsule > .profile-generic-settings {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }
    .user-infos-capsule > .profile-generic-settings > * {
        width: 100%;
        text-indent: 0;
    }

     .user-infos-capsule > .profile-generic-settings > *:hover {
        color: var(--cor-laranjado);
        background: var(--cor-roxo-01);
    }

    .user-infos-capsule > .login-register-buttons-container > button {
        outline: none;
        border: none;
        padding: .3em 1.5em;
        font-family: var(--font-navigation);
        background: var(--cor-laranja-01);
        border-radius: 4px;
        box-shadow: 2px 2px 3px rgba(83, 20, 60, 0.429);
        cursor: pointer;
    }

    .nav-container > .profile-settings-capsule {
        width: 100%;
    }

    .nav-container > .profile-settings-capsule > .profile-settings-menu {
        border-top: 1px solid rgba(170, 170, 169, 0.088);
        box-shadow: inset 0px 1px 1px rgba(6, 6, 6, 0.114);
        padding-top: .5em;
        margin-top: .2em;
        display: flex;
        flex-direction: column;
        row-gap: .5em;
    }

    .nav-container > .profile-settings-capsule > .profile-settings-menu > a {
       text-decoration: none;
    }

    .nav-container > .categories-button > .svg-icon-chevron {
        display: none;
    }

    .nav-container svg.nav-menu-icon{
        display: block;
        width: 25px;
        height: 25px;
    }


    nav.nav-container .navigation-itens {
        box-shadow: 2px 2px 2px rgba(31, 1, 45, 0.201);
        border-radius: 5px;
        background: var(--cor-roxo-01);
        margin: 0;
        display: flex;
        column-gap: 2em;
        cursor: pointer;
        width: 100%;
        padding: 3px 0 3px 3px;
        align-items: center;
    }

    nav.nav-container .navigation-itens span.inner-text {
        font-family: var(--font-navigation);
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: lighter;
        color: var(--cor-cinza-alaranjado);
    }

    .navigation-itens svg.nav-menu-icon{
        fill: var(--cor-branco);
        padding: 4px;
    }

    nav.nav-container .navigation-itens:hover > span.inner-text,
    button.navigation-itens:hover > span.inner-text,
    nav.nav-container .log-off-button:hover {
        color: var(--cor-laranjado);
        transition-duration: .2s;
    }

    
    .navigation-itens:hover > svg.nav-menu-icon, button.navigation-itens:hover > .icon-container > svg.nav-menu-icon {
        fill: var(--cor-laranjado);
        transition-duration: .2s;
    }

    .nav-container > .open-user-menu-button > img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .nav-container > .open-user-menu-button > .hint-box {
        display: none;
    }

    nav.nav-container button.log-off-button {
        width: 50%;
        align-self: center;
        margin-top: 1.5em;
        padding: 4px;
        border-radius: 4px;
        outline: none;
        border: none;
        background: var(--cor-roxo-01);
        box-shadow: 2px 2px 2px rgba(31, 1, 45, 0.237);
        font-family: var(--font-navigation);
        color: var(--cor-cinza-alaranjado);
        cursor: pointer;
    }

    header .search-books-container {
        width: 50%;
        height: 26px;
    }

    header .hamburger-menu-button {
        display: block;
        position: absolute;
        left: 2%;
        box-shadow: 2px 2px 2px rgba(31, 1, 45, 0.201);
        padding: .3em;
        display: flex;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        outline: none;
        background: var(--cor-roxo-02);

    }



    header .hamburger-menu-button:hover, header .hamburger-menu-button:hover > svg {
        background: var(--cor-roxo-01);
        fill: var(--cor-laranjado);
        transition-duration: .2s;
    }

    header .hamburger-menu-button:active {
        background: var(--cor-roxo-02);
    }

    header .hamburger-menu-button > svg {
        width: 30px;
        height: 30px;
        padding: 5px;
        fill: var(--cor-branco);
        pointer-events: none;
    }

    .menu-dropdawn-capsule {
        display: none;
    }

    /* header .user-menu-container {
        padding: 3em 1.5em 1em 1.5em;
        border: 1px solid rgba(242, 242, 242, 0.585);
        background: var(--cor-branco);
        box-shadow: 2px 2px 2px rgba(187, 187, 187, 0.241);
        border-radius: 0 0 5px 5px;
        position: absolute;
        z-index: -30;
    } */

    header .user-menu-container {
        padding: 6px;
        width: 100vw;
        border: 1px solid rgba(230, 230, 230, 0.897);
        background: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px rgba(187, 187, 187, 0.073);
        position: absolute;
        top: 4.2em;
    }

    header .user-menu-container > .login-register-buttons-container {
        width: 93vw;
        justify-content: flex-end;
    }

    #user-log-off > .login-register-buttons-container > .login-button, #user-log-off>.login-register-buttons-container> .register-button {
    box-shadow: none;
    font-size: .6em;
    border: 1px solid rgb(233, 111, 18);
    }


    /* Controle da animação de deslize do container de botões login / registro */
    .log-container-slide-dawn {
        transition: right 1.5s;
        right: 0;
    }

    .log-container-slide-up {
        transition: right 1s;
        right: 100vw;
       
    }


    #user-log-on {
        display: none;
    }

    #user-log-off {
        display: block;
    }
    
}